<% if current_user %>
  <%= form_for [topic, post, post.comments.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment" %>
   <br>
    <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
    <br>
    </div>
  </div>
  <% end %>
<% end %>

